{% extends 'layout.html' %}
{% block content %}
    <h1 style="margin-top: 47px;">Decode</h1>
    <br/>
    <br/>
    <form method=post enctype=multipart/form-data action="{{ url_for('decode') }}">
        <label for="img">Select image:</label>
          <input type="file" id="image" name="image" accept="image/*">
          <br/><br/>
          <input type="submit">
    </form>
    <br/> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/> <br/><br/><br/><br/><br/>
{% endblock content %}